@model MVC.Models.WordleGame
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Game";
}
@{
    string data = JsonConvert.SerializeObject(Model);

}
@section scripts
{
    <script src="~/Scripts/Wordle/WordleVM.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script type="text/javascript">
        var wordleVM = new WordleVM(@Html.Raw(data));
        ko.applyBindings(wordleVM);


        $("#title").click(function (e) {
            e.preventDefault
            location.href = "/"
        })


        var finalizado = false;
        var ganado = false;

        $("#reintentar-button").click(function (e) {
            location.reload(true)
        })

        $("#palabra-intentada").keydown(function (event) {
            if (event.keyCode < 65 || event.keyCode > 90) {
                if (event.keyCode != 8) {
                    event.preventDefault()
                }                
            }
            if (event.keyCode === 13) {
                $("#intentar-button").click();
            }
        });


        self.$("#intentar-button").click(function (e) {
            if (finalizado) {
                alert("El juego ha terminado")
                return;
            }

            if ($("#palabra-intentada").val().length != @Model.WordLength) {
                alert("Error!! Chequear longitud de palabra")
                return;
            }

            e.preventDefault();
            $.post('/Game/IntentarPalabra?palabra=' + $("#palabra-intentada").val(), function (data) {
                finalizado = data.Finish;
                ganado = data.Win;

                $('#palabras-container').html("");
                wordLenght = data.Dificultad * 2 + 1;
                for (var i = 0; i < data.PalabrasIntentadas.length; i++) {
                    $('#palabras-container').append("<div id='input-row" + i + "' class='input-row'></div>")
                    for (var j = 0; j <= wordLenght; j++) {

                        data.ResultadosIntentos[i][j] == "X"
                            ? $("#input-row" + i).append("<div style='background-color: #787c7e' class='col input-text' id='input-text" + i + j + "'></div >")
                            : data.ResultadosIntentos[i][j] == "-"
                                ? $("#input-row" + i).append("<div style='background-color: #c9b458' class='col input-text' id='input-text" + i + j + "'></div >")
                                : $("#input-row" + i).append("<div style='background-color: #6aaa64' class='col input-text' id='input-text" + i + j + "'></div >")
                        $("#input-text" + i + j).append("<p class='input-value'>" + data.PalabrasIntentadas[i][j] + "</p>")
                    }
                }
                for (var i = 0; i < (data.ErroresPosibles - data.PalabrasIntentadas.length); i++) {
                    $('#palabras-container').append("<div id='input-row-empty" + i + "' class='input-row'></div>")
                    for (var j = 0; j <= wordLenght; j++) {

                        $("#input-row-empty" + i).append("<div class='col input-text' id='input-text-empty" + i + j + "'></div >")
                        $("#input-text-empty" + i + j).append("<p class='input-value'></p>")
                    }
                }
                $("word-input").val("");
                if (data.Finish) {
                    $("#palabra-intentada").attr("disabled", true)
                    if (data.Win) {
                        $("#palabra-intentada").attr("placeholder", "FELICITACIONES!!")
                        $("#intentar-button").removeClass("visible").addClass("hidden")
                        $("#reintentar-button").removeClass("hidden").addClass("visible")
                        $("#reintentar-button").html("Jugar de nuevo")
                        $("#voucher").removeClass("hidden").addClass("visible")
                        $("#copyvalue").val("WORDLE" + data.Nombre.toUpperCase())
                        $("#voucher-value").html(data.Voucher + "%")
                        $("#info-text").html("GANASTE!! En un tiempo de: " + data.ElapsedTime)
                        $("#info-text").css({ 'color': 'green'});

                        for (const i in data.Puntajes) {
                            $("#puntajes-container").append(`<div class="puntaje"><span class= "nombre">${i}</span><span class="puntos">${data.Puntajes[i]} pts.</span></div >`)
                        }


                    } else {
                        $("#palabra-intentada").attr("placeholder", "PERDEDOR.")
                        $("#intentar-button").removeClass("visible").addClass("hidden")
                        $("#reintentar-button").removeClass("hidden").addClass("visible")
                        $("#info-text").html("GAME OVER. Te quedaste sin intentos. La palabra era " + data.Palabra.toUpperCase() + ".")
                        $("#info-text").css({ 'color': 'red' });                        
                    }
                }
                $("#palabra-intentada").val("")
            });
        })


    </script>
}
<section class="input-section">
    <div id="left-side" class="left-side">
        <h2>Bienvenido @Html.DisplayFor(m => m.Nombre)!</h2>
        <div style="display: flex; flex-direction:column ; justify-content: center; align-items: center" class="form-group">
            <div>
                @Html.TextBoxFor(m => m.PalabraIntentada, new Dictionary<String, object>
                    {
                        { "id",  "palabra-intentada"},
                        { "class", "word-input" },
                        { "placeholder", "Ingrese palabra" },
                        { "data-bind", "value:PalabraIntentada" },
                        { "maxlength", Model.Dificultad * 2 + 2 }
                    })
            </div>
            <h2 id="info-text" style="text-align: center"></h2>
        </div>
        <button id="intentar-button" type="submit" class="button intentar-button visible">Intentar!</button>
        <button id="reintentar-button" class="button reintentar-button hidden">Rententar</button>
        @*<div class="reintentar-button-container">*@

        @*</div>*@

        @*<h4>@Html.DisplayFor(m => m)</h4>*@

    </div>
    <div id="palabras-container" class="input-container">
        @Html.Partial("_Palabras", Model)
    </div>
</section>


<div class="voucher-container hidden" id="voucher">

    <div id="puntajes-container" class="puntajes-container">
        <div class="puntaje">
            <span class="nombre"><strong>Nombre</strong></span>
            <span class="puntos"><b>Puntaje</b></span>
        </div>              
    </div>

    <div class="voucher-card">
        <div class="voucher-main">
            <div class="co-img">
                <img src="../../Content/Assets/mcdonaldslogo.png"
                     alt="" />
            </div>
            <div class="vertical"></div>
            <div class="content">
                <h2>Mcdonalds</h2>
                <div style="display: flex; justify-content: flex-start; gap: 10px; align-items: center">
                    <p id="voucher-value" style="font-size: 32px">10%</p>
                    <span>VOUCHER</span>
                </div>
                <p style="font-size: 12px">Valido hasta el 18 Agosto de 2022</p>
            </div>
        </div>
        <div class="copy-button">
            <input style="text-align: center" id="copyvalue" type="text" readonly value="" />
            <button onclick="copyIt()" class="copybtn">COPIAR</button>
        </div>
    </div>
</div>


<style>
    :root {
        --border-radius: 10px;
    }

    .puntajes-container {
        display: flex;
        width: 350px;
        flex-direction: column;
        justify-content: center;
        border-radius: var(--border-radius);
        align-items: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .puntajes-container .puntaje {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .puntajes-container .puntaje:first-child span{
        background-color: #ffc766;
        border-top: 1px solid black;
    }

    .puntaje span:nth-child(1) {
        border-right: 1px solid black;
    }

    .puntaje span:nth-child(2) {
        border-left: 1px solid black;
    }

    .puntaje span {
        height: 40px;
        border-radius: var(--border-radius);
        border-bottom: 1px solid black;
        width: 50%;
        padding-top: 9px;
        text-align: center;
        align-items: center;
        margin: 0;
        vertical-align: middle;
    }

    .hidden {
        display: none
    }

    .visible {
        display: block;
    }

    /*.main-title {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        text-shadow: 0 0 10px #005276, 0 0 30px #005276;
    }

    .main-title:hover {
        color: rgba(0,0,0,0.7);
        transform: translateY(-10px);
    }

    .main-title:before {
        content: attr(data-text);
        position: absolute;
        bottom: -10px;
        pointer-events: none;
        z-index: 1;
        font-size: 0.35em;
        color: #00B2FF;
        font-weight: 800;
        letter-spacing: 100px;
        opacity: 0;
        transition: 0.5s;
        text-shadow: 0 0 10px #00B2FF, 0 0 30px #00B2FF, 0 0 80px #00B2FF;
    }

    .main-title:hover:before {
        letter-spacing: 6px;
        opacity: 1;
    }*/

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .word-input {
        height: 50px;
        text-transform: uppercase;
        font-size: 24px;
        border-radius: var(--border-radius);
        text-align: center
    }


    .intentar-button {
        background-color: #1899D6;
    }

    .reintentar-button {
        background-color: #d61818;
    }

    .intentar-button::after {
        background-color: #1CB0F6;
    }

    .reintentar-button::after {
        background-color: #f74f4f;
    }



    .input-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 150px
    }

    .input-row .col p {
        font-size: 28px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* After Input is taken */
    .input-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 15px;
    }    

    .input-taken {
        border: 1px solid black;
    }

    /* Styling Input-text section */

    #input-section {
        margin-top: 25px;
        margin-bottom: 15px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .input-text {
        border: 3px solid #d3d6da;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-value {
        color: white;
        margin: 0;
        font-weight: 600;
    }

    .input-text-playable {
        border: 3px solid #00FFFF;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-text-wrong {
        border: 3px solid #FF0000;
        background: #B90000;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-text-correct {
        border: 3px solid #00FF00;
        background: #08B402;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-text-good {
        border: 3px solid #FFFF00;
        background: #B9BF00;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-text-disable {
        border: 3px solid #818181;
        background-color: #818181;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .voucher-container {
        margin-top: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 173px;
    }

    .voucher-card {
        width: 400px;
        height: 180px;
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #dfdcdc;
        padding: 10px 10px;
        position: relative;
    }

    .voucher-main,
    .copy-button {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        align-items: center;
    }

    .voucher-card::after, .voucher-card::before {
        position: absolute;
        content: "";
        height: 40px;
        right: -20px;
        border-radius: 40px;
        z-index: 1;
        top: 70px;
        background-color: white;
        width: 40px;
    }

    .voucher-card::after {
        right: -20px;
    }

    .voucher-card::before {
        left: -20px;
    }

    .co-img img {
        width: 100px;
        height: 100px;
    }

    .vertical {
        border-left: 5px dotted black;
        height: 100px;
        position: absolute;
        left: 40%;
    }

    .content h1 {
        font-size: 35px;
        margin-left: -20px;
        color: #565656;
    }

    .content h1 span {
        font-size: 18px;
    }

    .content h2 {
        font-size: 18px;
        margin-left: -20px;
        color: #565656;
        text-transform: uppercase;
    }

    .content p {
        font-size: 16px;
        color: #696969;
        margin-left: -20px;
    }

    .copy-button {
        margin: -9px 0 -37px 0;
        height: 33px;
        padding: 0 5px;
    }

    .copy-button input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 15px;
    }

    .copy-button button {
        padding: 5px 20px;
        background-color: #dc143c;
        color: #fff;
        border: 1px solid transparent;
    }

    @@media only screen and (max-width : 580px) {
        .input-section {
            gap: 15px
        }

        .voucher-container {
            gap: 40px
        }
        .input-container {
            transform: scale(.73);
        }
    }

</style>